<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<% if session[:role] == "admin" %>
    <%= link_to 'Back', library_home_path %>
<%else%>
    <%= link_to 'Back', library_home_path%>
<%end%>